html {
  font-family: 'Source Serif Pro', serif;
	background: linear-gradient(-45deg, #75dbe2, #66a4d6, #0427c7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name p{
  color: white;
  font-size: 3.5em;
  margin: 0px;
}
.detail p{
  color: white;
  font-size: 1em;
  margin: 0px;
}
h1 {
  color: white;
  font-size: 4em;
}
h3 {
  color: white;
  font-size: 1.2em;
}

#links {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#links li {
  display: inline;
  padding: 10px;
}

#links li a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;

}
#links li a:hover{
  color: black;
}

.icons {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact_me {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#contact_me li img {
	height: 6vmin;
  width: 6vmin;
	cursor: pointer;
  transition: all .2s ease-in-out;
}

#contact_me li {
	display: inline;
  padding: 10px;
}

#contact_me li img:hover{
  transform: scale(1.3);
	cursor: pointer;
}


  
