html{
  font-family: 'Source Serif Pro', serif;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #014211);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a5f591, #4fa54f, #014211); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name p{
  color: white;
  font-size: 3.5em;
  margin: 0px;
}
.detail p{
  color: white;
  font-size: 1em;
  margin: 0px;
}
h1 {
  color: white;
  font-size: 4em;
}
h3 {
  color: white;
  font-size: 1.2em;
}

#links {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#links li {
  display: inline;
  padding: 10px;
}

#links li a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;

}
#links li a:hover{
  color: black;
}

.icons {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact_me {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#contact_me li img {
	height: 6vmin;
  width: 6vmin;
	cursor: pointer;
}

#contact_me li {
	display: inline;
  padding: 10px;
}

#contact_me li img:hover{
  height: 7vmin;
  width: 7vmin;
	cursor: pointer;
}


  
